// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // font-family: 'Cinzel', serif;
  font-family: "Oswald", sans-serif;
}

.BGiMAGE {
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(2, 2, 2, 0.678)),
    url("./img/prueba.jpg");
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  color: white;
  font-family: "Oswald", sans-serif;
}

.homeContainerScrollDownIcon {
  font-size: 40px !important;
}

//SECOND ROW--------------------

.imageProject1Container {
  .imageProject1 {
    width: 50%;
    box-shadow: 0 0 20px 0 black;
    filter: brightness(80%);
  }
}

.imageProject2Container {
  margin-top: 100px;

  .imageProject2 {
    width: 50%;
    box-shadow: 0 0 20px 0 black;
    filter: brightness(120%);
  }
}

.imageProject3Container {
  margin-top: 700px;
  .imageProject3 {
    width: 50%;
    box-shadow: 0 0 20px 0 black;
    filter: brightness(80%);
  }
}

.secondRowContainer {
  margin-top: -400px;
  width: 100vw;
  height: 500px;
}

.secondRowLayer {
  width: 100vw;
  height: 1800px !important;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(2, 2, 2, 0.349)
    ),
    url("./img/bg3.jpg") !important;
  // background-image: url('./img/bg3.jpg') !important;
  background-size: contain !important;
}

.secondRowTitle {
  font-size: 100px;
  font-weight: 300;
  color: rgb(88, 88, 88);
}

.imageProjectText {
  margin-top: 30px;
}

//THIRD ROW------------

.thirdRowContainer {
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.658),
      rgb(0, 0, 0)
    ),
    url("./img/bb5.jpg") !important;
  background-size: cover !important;

  margin-top: -100px;
}
